<!DOCTYPE html>
<html>
  <head>
    <title>你财富TC集成系统</title>
    <% include ../common/commonMeta.ejs %>
    <% include ../common/commonCss.ejs %>    
    <% include ../common/commonScripts.ejs %>
    <script type="text/javascript" src="/scripts/login.bundle.js"></script>
    <style type="text/css">
    	.price-progress{
    		overflow: hidden;
		    width: 100%;
		    height: 2px;
		    font-size: 0;
		    background-color: #e2e2e2;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    border-radius: 3px;
		    float: left;
		    margin-top: 8px;
		    height: 4px
    	}
    	.price-progress span{
    		background: red;
		    height: 100%;
		    display: block;
		    position: relative;
		    width: 0
    	}
    </style>
  </head>

  <body>
    <% include ../common/header.ejs %>

    <div class="ui-form ui-border-t" >
        <div class="ui-form-item ui-form-item-l ui-border-b">
           <label></label>        
        </div>     
        <div class="ui-form-item ui-form-item-l ui-border-b">
            <label>
                用户名：
            </label>
            <input type="text" name="userName" placeholder="请输入用户名">          
        </div>       
        <div class="ui-form-item ui-form-item-l ui-border-b">
            <label>
               密码：
            </label>
            <input type="password" name="password" placeholder="请输入密码">
           
        </div>
       </div>
	   <div class="ui-btn-wrap">
		    <button class="ui-btn-lg ui-btn-primary btn-login">
		        登录
		    </button>
	   </div>       
       
  </body>
</html>



