<!DOCTYPE html>
<html>
  <head>
    <title>你财富TC集成系统</title>
    <% include ../common/commonMeta.ejs %>
    <% include ../common/commonCss.ejs %>
  </head>

  <body>
    <% include ../common/header_back.ejs %>
    <div style="height: 100%">
    	<div style="position: absolute;top: 50%;left: 50%;height: 500px;width: 500px;transform: translate(-50%,-50%);text-align: center;font-size: 37px;font-weight: bold;font-family: fantasy;color: #e05353;">
    		<span>
    			<%= error.status %>
    		</span>
    		<p style="font-size:15px;color:#b1a1a7;">访问的页面出现错误，点击<a href="/login">登录</a></p>
    	</div>
    </div>    
  </body>
</html>