<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-itunes-app" content="app-id=1026789253" />
<meta content="telephone=no" name="format-detection" />
<meta name="full-screen" content="yes" />
<meta name="browsermode" content="application" />
<meta name="baidu-site-verification" content="VbHljNQhTs" />
<meta name="x5-orientation" content="portrait|landscape" />
<meta name="x5-fullscreen" content="true" />
<meta name="x5-page-mode" content="app" />
