<header class="ui-header ui-header-positive ui-border-b">
     <div class="ui-avatar-s" style="margin-top: 5px;width: 35px;height: 35px;float: left;">
        <span style="background-image:url(/images/ncf.png)"></span>
     </div>
     <h1><%=title %></h1>
</header>